<div id="map-canvas"></div>
<!-- <div id="legend">
  <%# DeliveryDay.all.each do |delivery_day| %>
    <%#= render "delivery_day/legend_name", :delivery_day => delivery_day %>
  <%# end %>
</div> -->

<div class="infobox-wrapper">
  <div id="infobox1">
    <p><h5><a href="/municipalities/" id="municipality_link"></a></h5></p> 
    <p id="full_address"></p>
    <p>
      <%#= link_to "Modifica Cliente", ["edit",customer] %>
    </p>
    <inut type="hidden" id="customer_id"/>
    <div style="clear:both"></div>
  </div>
</div>

<script>
  var map;
	var romeLatLng = new google.maps.LatLng(41.868895, 12.488836);

  var municipality_id;
  var municipality_name;

  function initialize() {
    var mapOptions = {
      zoom: 6,
      center: romeLatLng
    };
    
    map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
    
    infobox = new InfoBox({
        content: document.getElementById("infobox1"),
        disableAutoPan: false,
        pixelOffset: new google.maps.Size(-140, 0),
        zIndex: null,
        boxStyle: {
                    background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
                    opacity: 0.95,
                    width: "350px"
            },
        closeBoxMargin: "12px 4px 2px 2px",
        closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
        infoBoxClearance: new google.maps.Size(1, 1)
    });

    <% @municipalities.each do |municipality| %>
      <% if municipality.latitude != nil && municipality.longitude != nil %>
  		  var municipalityLatLng = new google.maps.LatLng(
  		  		<%= municipality.latitude %>, <%= municipality.longitude %>);

  		  var marker = new google.maps.Marker({
  		      position: municipalityLatLng,
  		      animation: google.maps.Animation.DROP,
  		      //icon: "https://chart.googleapis.com/chart?chst=d_map_pin_letter_withshadow&chld=|<%#= customer.delivery_day.color %>|",
  		      map: map,
            snippet: "<%= municipality.id %>;;<%= municipality.name %>"
  		  });

  		  google.maps.event.addListener(marker, 'click', (function(marker) {
          return function() {
            
            var municipalityInfo = marker.snippet.split(';;');
            municipality_id = municipalityInfo[0];
            municipality_name = municipalityInfo[1];

            $("#municipality_link").attr("href","/municipalities/" + municipality_id);
            $("#municipality_link").text(municipality_name);
            // $("#full_address").text(customer_full_address);
            // $("input#customer_id").val(customer_id);
            // $("select#delivery_day_id").val(delivery_day_id);

            // selected_marker = marker;

            infobox.open(map, this);
            map.panTo(marker.getPosition());
          }
        })(marker));
      <% end %>
    <% end %>

    var legend = document.getElementById('legend');
    map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  // $(document).ready(function(){
  //   $("select#delivery_day_id").change(function(){
  //     var delivery_day_id = $(this).val();
  //     $.post("/set_delivery_day/" + customer_id + "/" + delivery_day_id).done(function(data){
  //       selected_marker.setIcon("https://chart.googleapis.com/chart?chst=d_map_pin_letter_withshadow&chld=|" + delivery_day_colors[delivery_day_id] + "|");
  //     });
  //   });
  // });

  </script>

  <style>

  #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
  }

  #map-canvas img{
  	max-width: inherit;
  }

  div#legend{
    background-color: white;
    padding: 8px;
    padding-bottom: 0px;
    border: 1px solid gray;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .infobox-wrapper {
    display:none;
  }
  #infobox1 {
      border:1px solid #d5d5d5;
      margin-top: 8px;
      background:#f8f8f8;
      font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
      padding: .5em 1em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 0  5px #acacac;
      box-shadow: 0 0 5px #acacac;
  }

  #full_address{
    font-size: 14px;
  }

  #delivery_day_label{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  select#delivery_day_id{
    float: left;
  }

  </style>